.o-table {
    width: 100%;
    font-size: 18px;

}


.o-table td {
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 525;
}

thead th {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid rgb(2, 2, 70);
    background-color: rgb(245, 244, 248);
}