.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    background-color: rgb(245, 244, 248);
    border-bottom: 8px solid rgb(2, 2, 70);
}

.header-text {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px rgb(184, 186, 187);
    font-weight: 900;
    
}

img {
    box-shadow: 0px 6px 20px lightblue;
    margin: 15px;
}

main {
    margin: 20px;
}

section {
    display: grid;
}

h2 {
    display: flex;
    font-family: sans-serif;
    font-weight: 750;
    font-size: 22px;
    background-color:  rgb(234, 234, 247);
    border-bottom: 3px solid rgb(2, 2, 70);
}

li {
    font-family: sans-serif;
    font-weight: 525;
    font-size: 16px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    font-style: italic;
    font-size: 13px;
    margin: 4px;
}